*.o
ar/ar.h
ar/ar86
ar/rel_aout.h
as/as86
as/as86_encap
as/version.h
bcc/bcc
bcc/bcc-cc1
bcc/ncc
bcc/version.h
bin/
bootblocks/version.h
copt/copt
cpp/bcc-cpp
ifdefg
include
ld/ar.h
ld/ld86
ld/objdump86
ld/version.h
lib/
libbsd/libbsd.a
libc/.config.dir
libc/.config.lst
libc/error/error_list.h
libc/i386sys/syscall.c
libc/i386sys/syscall.mak
libc/include/arch
libc/include/linuxmt
libc/include/malloc.h
libc/include/regexp.h
libc/include/regmagic.h
libc/include/stdio.h
libc/include/string.h
libc/libbcc.a
libc/libc.a
libc/libc3.a
libc/libc_f.a
libc/libc_s.a
libc/libdos.a
libc/syscall/call_tab.v
libc/syscall/defn_tab.v
libc/syscall/syscall.c
libc/syscall/syscall.dat
libc/syscall/syscall.mak
make.fil
unproto/unproto